body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  color: #333333;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.grid-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

img {
  border-radius: 12px;
  max-width: 100%;
}

.full-width {
  width: 100%;
  margin: 10px auto;
}

p {
  font-size: 16px;
}
