body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #e5e5f7;
  line-height: 1.5;
  color: black;
  text-align: center;
}

body.dark {
  background-color: #100d18;
  color: white;
}

.container {
  max-width: 600px;
  background-color: white;
  margin: 50px auto;
  border: 1px solid none;
  border-radius: 12px;
  padding: 20px;
}

body.dark .container {
  background-color: #1c1824;
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.grid-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

img {
  border-radius: 12px;
  max-width: 100%;
  background-origin: 10px 10px;
  transition: all 150ms ease-in-out;
}

img:hover {
  transform: scale(1.5);
}

.full-width {
  width: 100%;
  margin: 10px auto;
}

p {
  font-size: 16px;
  margin: 30px auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button,
.more-info {
  background-color: #7d56dd;
  color: white;
  font-size: 18px;
  margin: 15px auto;
  padding: 15px 25px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

button:hover {
  background-color: white;
  color: #7d56dd;
}

.change-theme {
  font-size: 14px;
  border-radius: 14px;
  margin-top: 25px;
  margin-bottom: 5px;
}

a {
  color: black;
}

a:hover {
  background-color: white;
  color: #7d56dd;
}

body.dark a {
  color: white;
}

footer {
  margin: 20px;
}
