body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #100d18;
  line-height: 1.5;
  color: white;
  text-align: center;
}

.container {
  max-width: 600px;
  background-color: #1c1824;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 12px;
  padding: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.grid-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

img {
  border-radius: 12px;
  max-width: 100%;
  background-origin: 10px 10px;
  transition: all 150ms ease-in-out;
}

img:hover {
  transform: scale(1.5);
}

.full-width {
  width: 100%;
  margin: 10px auto;
}

p {
  font-size: 16px;
  margin: 30px auto;
}

button {
  background-color: #7d56dd;
  color: white;
  font-size: 18px;
  margin: 15px auto;
  padding: 15px 25px;
  border: 1px solid black;
  border-radius: 12px;
}

.more-info {
  color: white;
  text-decoration: none;
}

a {
  color: white;
}

footer {
  margin: 20px;
}
